.PROFILE_application li {
  list-style-type: none;
  line-height: 1em;
}
.PROFILE_application a {
  color: inherit !important;
}
.PROFILE_application .popover {
  min-width: 350px;
}
.PROFILE_application a:not(.userLogo) {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  top: -1px;
  left: -6px;
  background: none;
}
.PROFILE_application a.userLogin {
  background-color: transparent;
  height: 30px;
  width: 30px;
}
.PROFILE_application a.user-logged-in {
  border: 1px solid #fff;
  border-radius: 100px;
  cursor: default;
}
.PROFILE_application i {
  position: relative;
  left: -2px;
  top: 2px;
}
