.PROFILE_application {
  li {
    list-style-type: none;
    line-height: 1em;
  }
  a {
    color: inherit !important;
  }
  .popover {
    min-width: 350px;
  }

  a:not(.userLogo) {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    top: -1px;
    left: -6px;
    background: none;
  }
  a.userLogin{
    background-color: transparent;
    height: 30px;
    width: 30px;
  }
  a.user-logged-in {
    border: 1px solid #fff;
    border-radius: 100px;
    cursor: default;
  }
  i {
    position: relative;
    left: -2px;
    top: 2px;
  }
}